In [1]:
import pandas as pd

In [6]:
a = pd.DataFrame({'a': 42, 'b':21}, index=[0,1])
a

    a   b
0  42  21
1  42  21

In [7]:
b = pd.DataFrame({'a': 10, 'b':10}, index=[0,1])
b

    a   b
0  10  10
1  10  10

In [8]:
a+b

    a   b
0  52  31
1  52  31