In [1]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv("iris.csv")
df.head(2)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [5]:
df_1 = df.head()
df_2 = df.tail(1)

In [4]:
df_1

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [6]:
df_2

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
149           5.9          3.0           5.1          1.8  virginica

In [9]:
nor_minmax = MinMaxScaler().fit(df_1.iloc[:, :-1])
nor_minmax

MinMaxScaler()

In [10]:
nor_minmax.transform(df_1.iloc[:, :-1])

array([[1.        , 0.83333333, 0.5       , 0.        ],
       [0.6       , 0.        , 0.5       , 0.        ],
       [0.2       , 0.33333333, 0.        , 0.        ],
       [0.        , 0.16666667, 1.        , 0.        ],
       [0.8       , 1.        , 0.5       , 0.        ]])

In [12]:
nor_minmax.transform(df_2.iloc[:, :-1])

array([[ 2.6,  0. , 19. ,  1.6]])

In [13]:
nor_minmax = MinMaxScaler().fit(df_2.iloc[:, :-1])
nor_minmax.transform(df_2.iloc[:, :-1])

array([[0., 0., 0., 0.]])

In [14]:
nor_minmax = MinMaxScaler().fit(df_1.iloc[:, :-1])
nor_minmax.transform(df_1.iloc[:, :-1])

array([[1.        , 0.83333333, 0.5       , 0.        ],
       [0.6       , 0.        , 0.5       , 0.        ],
       [0.2       , 0.33333333, 0.        , 0.        ],
       [0.        , 0.16666667, 1.        , 0.        ],
       [0.8       , 1.        , 0.5       , 0.        ]])

In [15]:
df_minmax = pd.DataFrame(nor_minmax.transform(df_1.iloc[:, :-1]),
                         columns = df_1.columns[:4])
df_minmax

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0           1.0     0.833333           0.5          0.0
1           0.6     0.000000           0.5          0.0
2           0.2     0.333333           0.0          0.0
3           0.0     0.166667           1.0          0.0
4           0.8     1.000000           0.5          0.0

In [16]:
model = KMeans(n_clusters = 3, random_state = 123).fit(df.iloc[:, :-1])
model

KMeans(n_clusters=3, random_state=123)

In [17]:
model.labels_

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1,
       1, 1, 1, 2, 2, 1, 1, 1, 1, 2, 1, 2, 1, 2, 1, 1, 2, 2, 1, 1, 1, 1,
       1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 2])

In [18]:
model.cluster_centers_

array([[5.006     , 3.428     , 1.462     , 0.246     ],
       [6.85      , 3.07368421, 5.74210526, 2.07105263],
       [5.9016129 , 2.7483871 , 4.39354839, 1.43387097]])

In [19]:
df["cluster"] = model.labels_
df.groupby("cluster").mean()

         Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
cluster
0            5.006000     3.428000      1.462000     0.246000
1            6.850000     3.073684      5.742105     2.071053
2            5.901613     2.748387      4.393548     1.433871

## 1번

In [22]:
df = pd.read_csv("diabetes.csv")
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [23]:
df_sub = df.loc[df["BMI"] != 0, ]
df_sub.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [24]:
model = KMeans(n_clusters = 4, random_state = 123).fit(df_sub)
df_sub["cluster"] = model.labels_
df_sub.head(3)

<ipython-input-24-bce4d46e75dc>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub["cluster"] = model.labels_

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,cluster
0,6,148,72,35,0,33.6,0.627,50,1,0
1,1,85,66,29,0,26.6,0.351,31,0,0
2,8,183,64,0,0,23.3,0.672,32,1,0

In [25]:
df_sub["cluster"].value_counts()

0    397
2    219
1    117
3     24
Name: cluster, dtype: int64

In [26]:
df_sub.groupby("cluster")["Insulin"].mean()

cluster
0      2.957179
1    222.222222
2     99.557078
3    509.166667
Name: Insulin, dtype: float64

## 2번

In [27]:
df = pd.read_csv("diabetes.csv")
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [28]:
df_sub = df.loc[df["BMI"] != 0, ]
df_sub.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [29]:
nor_minmax = MinMaxScaler().fit(df_sub)
df_sub_nor = nor_minmax.transform(df_sub)
df_sub_nor = pd.DataFrame(df_sub_nor, columns = df_sub.columns)
df_sub_nor.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0.352941,0.743719,0.590164,0.353535,0.0,0.314928,0.234415,0.483333,1.0
1,0.058824,0.427136,0.540984,0.292929,0.0,0.171779,0.116567,0.166667,0.0

In [30]:
model = KMeans(n_clusters = 4, random_state = 123).fit(df_sub_nor)
df_sub["cluster"] = model.labels_
df_sub.head(3)

<ipython-input-30-36c46fa92fde>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub["cluster"] = model.labels_

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,cluster
0,6,148,72,35,0,33.6,0.627,50,1,3
1,1,85,66,29,0,26.6,0.351,31,0,1
2,8,183,64,0,0,23.3,0.672,32,1,3

In [31]:
df_sub["cluster"].value_counts()

1    364
0    134
3    132
2    127
Name: cluster, dtype: int64

In [32]:
df_sub.groupby("cluster")["Age"].mean()

cluster
0    29.738806
1    25.733516
2    47.062992
3    44.431818
Name: Age, dtype: float64

## 3번

In [34]:
df = pd.read_csv("diabetes.csv")
df_sub = df.loc[df["BMI"] != 0, ]
df_sub.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [35]:
model = KMeans(n_clusters = 3, random_state = 123).fit(df_sub)
df_centers = pd.DataFrame(model.cluster_centers_, columns = df_sub.columns)
df_centers

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3.975258,114.237113,68.647423,15.259794,14.696907,31.440619,0.434579,33.808247,0.301031
1,4.026316,158.447368,72.000000,32.263158,441.289474,35.107895,0.569211,34.763158,0.578947
2,3.542735,129.376068,71.478632,30.337607,159.401709,34.134615,0.535188,31.948718,0.418803

In [36]:
df_centers = df_centers.transpose()
df_centers

                                   0           1           2
Pregnancies                 3.975258    4.026316    3.542735
Glucose                   114.237113  158.447368  129.376068
BloodPressure              68.647423   72.000000   71.478632
SkinThickness              15.259794   32.263158   30.337607
Insulin                    14.696907  441.289474  159.401709
BMI                        31.440619   35.107895   34.134615
DiabetesPedigreeFunction    0.434579    0.569211    0.535188
Age                        33.808247   34.763158   31.948718
Outcome                     0.301031    0.578947    0.418803

In [37]:
print(sum((df_centers.iloc[:, 0] - df_centers.iloc[:, 1]) ** 2) ** 0.5)
print(sum((df_centers.iloc[:, 1] - df_centers.iloc[:, 2]) ** 2) ** 0.5)
print(sum((df_centers.iloc[:, 0] - df_centers.iloc[:, 2]) ** 2) ** 0.5)

429.24419310888464
283.405999774738
146.33847909815492